@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
}
.navbar{
    background-color: black;
    padding:.8rem;
    padding-top: 0;
    border-bottom: #fff solid;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarContainer{
    
    width: 50%;
}

.nav-list{
    display: flex;
    justify-content: space-evenly;
    
}
.navbar >.nav-list{
list-style: none;

}

.navbar .nav-list a{
    text-decoration: none;
    color: #fff;
}
.banner{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: #fff;
    font-size: 3rem;
    height: 15rem;
    margin-top: -2rem
}
section{
    margin:0 20rem;

}
section div{
     display:block;
    padding: 0.5rem;
}
section h1{
    font-family: 'Metal Mania', cursive;
    font-size: 1.5rem;
    margin: 1rem ;
}
section img{
    height:200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    float:left;
    margin: 1.5rem;
}
section p{
    text-align: left;
    color: grey;
    font-size: 1.1rem;
}
footer{
    height: 6.5em;
    background-color: deepskyblue;
    color: #fff;
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .title{
    font-size: 1.5rem;
}
footer .socialLinks{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    
}
footer .socialLinks a{
    background-color: none;
}
footer .socialLinks a:hover{
   text-shadow: 2px 5px red;
   /* background-color: aquamarine; */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}